*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  background-repeat: no-repeat;
  background-size: cover;
}
#main{
  height: 100vh;
  display: flex;
  align-items: center;
}
.App {
  text-align: center;
  height: 100vh;
  overflow: hidden;
}
.form,#empData{
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.41);
  width: 45vw;
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 10px auto;
}
#empData{
  width: 90%;
  height: auto;
}
#btn{
  width: 10vw;
  height: 1.8em;
  border-radius: 5px;
  background-color: #ffffff;
  border-radius: 4px;
  border: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  color: #36395A;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "JetBrains Mono",monospace;
  padding: 0px 16px;
  text-align: left;
  font-size: 18px;
  margin: 20px;
}
label{
  font-weight: 700;
}
input{
  width: 20vw;
  height: 2.5em;
  border-radius: 20px;
  text-align: center;
  border: 1px solid;
  outline: none;
}
#box{
  border: 1px solid;
  border-radius: 5px;
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  background: #b474fe9c;
  margin: 10px auto;
  max-height: 200px;
  overflow: hidden;
  overflow-y: auto;
}
#data{
  display: flex;
  gap: 15px;
  width: 25rem;
  height: 3rem;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  background-color: #000000;
  background: #FFC862;
  border-radius: 5px;
  margin: 5px 10px;
}
p{
  color: red;
}
@media screen and (max-width: 600px){
  .form{
    width: 90%;
    height: 26em;
    gap: 15px;
  }
  #head{
    font-size: calc(15px + 1vw);
  }
  input{
    width: 90%;
    height: 28px;
  }
  label{
    font-size: 15px;
  }
  #btn{
    width: 40%;
    font-size: 1em;
  }
  #box{
    margin: 30px auto;
    max-height: 213px;
  }
  span{
    font-size: 8px;
  }
}
@media screen and (max-width: 950px){
  #head{
    font-size: calc(15px + 1vw);
  }
}